<!DOCTYPE html>
<html>
    <!--
        Mason Gross
        3/27/25
        Extra: Not enough time to do extra
    -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Layout practice</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
            <h1>Title</h1>
            <h2 class="leftside">Some more text goes here</h2>
        <div class="holder">
            <div class="thumbsup">
                <img src="https://static-00.iconduck.com/assets.00/thumbs-up-emoji-1905x2048-yh44rgtn.png" alt="thumbs up" class="thumbsup">
                <img src="https://static-00.iconduck.com/assets.00/thumbs-up-emoji-1905x2048-yh44rgtn.png" alt="thumbs up" class="thumbsup">
                <img src="https://static-00.iconduck.com/assets.00/thumbs-up-emoji-1905x2048-yh44rgtn.png" alt="thumbs up" class="thumbsup">
            </div>
                <!--<div class="captions">
                    <p>Caption</p>
                 </div> -->
            <div class="sidebar">Text here too</div>
        </div>
        <h2>More text just cus</h2>
    </body>
</html>