<!DOCTYPE html>
<html>
    <!--
        Mason Gross
        3/27/25
        Extra: Not enough time to do extra
    -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Layout practice</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
            <h1>Title</h1>
        <div class="holder">
            <div class="lefthold">
                <h2 class="leftside">Some more text goes here</h2>
                <div class="images">
                    <div>
                        <img src="https://static-00.iconduck.com/assets.00/thumbs-up-emoji-1905x2048-yh44rgtn.png" alt="thumbs up" class="thumbsup">
                        <p class="captions">Caption</p>
                    </div>
                    <div>
                        <img src="https://static-00.iconduck.com/assets.00/thumbs-up-emoji-1905x2048-yh44rgtn.png" alt="thumbs up" class="thumbsup">
                        <p class="captions">Caption</p>
                    </div>
                    <div>
                        <img src="https://static-00.iconduck.com/assets.00/thumbs-up-emoji-1905x2048-yh44rgtn.png" alt="thumbs up" class="thumbsup">
                        <p class="captions">Caption</p>
                    </div>
                </div>
                <h2 class="leftside">More text just cus</h2>
            </div>
            <div class="sidebar">
                <h2>Text here too</h2>
            </div>
        </div>
    </body>
</html>